*{
    padding: 0;
    margin: 0;
}
.generateBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    font-size: medium;
    background-color: #29b2a0;
    height: 5vh;
    border-radius: 70px;
}
.generateBar p{
    font-weight: bold;
    margin-left: 10px;
    color: white;
}
.gbtn{
    color: white;
    font-size: 18px;
    background-color: #2c998a;
    border: none;
    border-radius: 70px;
    height: 4vh;
    width: 6vw;
}
.gbtn:hover{
   background-color: #1e8073;
}
input{
    margin-right: 5px;
}